build/
flattened/
node_modules/
.env*
*.DS_Store
*-error.log
.idea/
yarn.lock
package-lock.json
.vscode
.env

artifacts/
**/contracts/artifacts/
**/contracts/auxiliary/artifacts/
**/contracts/lending/artifacts/
**/contracts/external-workers/artifacts/
**/contracts/libs/artifacts/
**/contracts/plugins/artifacts/
**/contracts/pooling/artifacts/
**/contracts/promissory/artifacts/